@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@500;600&display=swap');

$font-family-sans-serif : 'Barlow Semi Condensed', sans-serif;

$primary:       #733FC8;
$success:       #49556B;
$dark:          #18202D;
$secondary:     #EDF2F8;
$text-white : hsl(0, 0%, 100%);
$text-violet : hsl(263, 55%, 52%);
$text-dark-grayish-blue : hsl(217, 19%, 35%);
$text-dark-blackyish-blue : hsl(219, 29%, 14%);

@media (min-width: 992px){
    .alto-100{
        height: 100vh;
    }
}
.text-gray{
    color: $text-dark-grayish-blue;
    font-family: 'Barlow Semi Condensed', sans-serif;
}
.text-white{
    color: $text-white;
}
.d-flex img{
    width: 50px;
}
.fondo-card{
    background-image: url('/images/bg-pattern-quotation.svg');
    background-repeat: no-repeat;
    background-position: 85% top;
}
.fw-600{
    font-weight: 600;
}
$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 960px,
  xxl: 960px
);
@import "../node_modules/bootstrap/scss/bootstrap";